@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
#bigandred
{
    color: red;
    font-size: 36px;
    background-color: pink;
    border: solid;
    border-color: black;
}

#top
{
    border: solid;
    border-radius: 0px;
    border-color: black;
    border-collapse: collapse;
    font-size:32px;
    color : black;
    padding: 0;
}
.span1
{
    padding-right: 0.5em;
   
}
.span2
{
    border-right:3px solid;
    padding-right: 0.5em;
    

}
html
{   
font-family: 'Kosugi Maru', sans-serif;

}
#counter
{
    text-align: center;
    color: #333;
    font-size: 48px  
    
}
#counter_2
{
    text-align: center;
}