h1 {
	text-align: center;
	margin-top: 50px;
}

div {
	margin: 50px auto;
	text-align: center;
}

#startBtn {
	padding: 10px 20px;
	font-size: 1.2em;
	background-color: #4CAF50;
	color: white;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

#speedDisplay {
	margin-top: 20px;
	font-size: 1.5em;
}
